<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>multi release</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <header>
      <div class="title-container">
        <span class="title">multi release</span>
      </div>

      <div class="buttons-header">
        <div class="atual-release"><p id="atual-release">2.0.1413</p></div>

        <div class="new-release">
          <i class="fa-solid fa-download new-release-icon"></i>
          <p class="new-release-title">nova release</p>
        </div>
      </div>
    </header>

    <main>
      <div class="list-releases">
        <div class="releases-header">
          <span class="release-header-title">Release</span>
          <span class="descricao-header-title">Descrição</span>
        </div>

        <div id="db-releases">
          
        </div>
        
      </div>

      <div class="sistemas"></div>
    </main>

    <footer>
      <span class="criador">Feito por Luis Zampieron</span>
    </footer>

    <script
      src="https://kit.fontawesome.com/8d7b3db8d7.js"
      crossorigin="anonymous"
    ></script>

    <script src="./script.js"></script>
  </body>
</html>
